# ignore secret data
.env
# ignore other staff
node_modules
package-lock.json
# ignore python stuff
env
.idea

*.DS_Store
*.png
*.jpg
*.ogg
*.pdf
*.mp4
*.mp3
*.jpeg
*.gif
*.doc
*.docx
docker-compose.yml